body {
    background-color: black;
    padding: 100px 350px;
    color: white;
}

table {
    background-color: purple;
    color: beige;
}

#stud_data {
    align-items: center;
    padding: 30px 30px;
}

button {
    background-color: coral;
    color: navy;
    font-family: Arial;
    border: 3px;
    margin: 10px;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    padding: 10px 5px;
    transition: 0.5s;
}

button:hover {
    scale: 1.1;
}

